<!DOCTYPE html>   
<head>   
<title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
 <meta name='viewport' content='width=device-width, initial-scale=1.0'>
<link rel='stylesheet' href='/css/bootstrap-responsive.css'>
<link rel='stylesheet' href='/css/pong.css' />
<script type="text/javascript" src='/js/jquery-1.9.1.min.js'></script>
<script type="text/javascript" src='/js/scripts.js'></script>
<script type="text/javascript" src='/js/jquery-pong-0.4.1.js'></script>

<!--/////////////////////////////////////////////////favicon//////////////////////////////////////////-->
<link rel="shortcut icon" href="/images/favicon.ico" />
<link rel="shortcut icon" href="/images/myicon.ico" />
<link rel="icon" type="image/ico" href="/images/favicon.ico" />
<link rel="icon" type="image/png" href="/images/favicon.png" />
<link rel="icon" type="image/png" href="favicon.png" />
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////-->
<script src="/socket.io/socket.io.js"></script>
</head>  
<body>  
<a href="#" id="music" class="btn btn-warning btn-small"><i class="icon-volume-off"></i> No music</a>
<p id="logo"></p>
  <br />
  <div class="form">
<div id="options">
	<h1><%= title %></h1>
<input type="button" class="btn btn-info" id="single" value="Single Player" />
<input type="button" class="btn btn-info" id="multi" value="Multi Player" />
</div>
  </div>
<div id="pong"></div>
<div id="score"></div>
<embed id="music_box"style = "visibility:hidden;" src="/js/tune.mp3" loop="true">
</body>  
</html> 
