<!DOCTYPE html>   
<head>   

<title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
 <meta name='viewport' content='width=device-width, initial-scale=1.0'>
<link rel='stylesheet' href='/css/bootstrap-responsive.css'>
<link rel='stylesheet' href='/css/pong.css' />
<script type="text/javascript" src='/js/jquery-1.9.1.min.js'></script>
<script type="text/javascript" src='/js/scripts.js'></script>
<script type="text/javascript" src='/js/jquery-pong-0.4.1.js'></script>
</head>  
<body>  
<h1><%= title %></h1>
<form class="well form-inline">     
  <input type="text" class="input-small" placeholder="Username">  
  <input type="password" class="input-small" placeholder="Password">  
  <button type="submit" class="btn btn-primary" id="Log_in">Log in</button>  
  <button id="Register" class="btn">Register</button>  
</form>  
<br />
<div id="pong"></div>
</body>  
</html> 
