<!DOCTYPE html>   
<head>   
<title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
 <meta name='viewport' content='width=device-width, initial-scale=1.0'>
<link rel='stylesheet' href='/css/bootstrap-responsive.css'>
<link rel='stylesheet' href='/css/pong.css' />
<script type="text/javascript" src='/js/jquery-1.9.1.min.js'></script>
<script type="text/javascript" src='/js/scripts.js'></script>

</head>  
<body>  
  <p id="logo"></p>
  <br />
    <div class="form">
	  <h1><%= title %></h1>
  <input type="text" class="input-small" placeholder="Username"name="Username" id="Username" >  
  <input type="password" class="input-small" placeholder="Password" name="Password" id="Password" >  
  <br />
  <button type="submit" class="btn btn-primary" id="Registration" onclick="register();" >Register</button>  
  <button id="Cancel" class="btn" >Cancel</button>  
  </div>
</body>  
</html> 
