 #pong{
margin-left:auto;
margin-right: auto;
background-color:#000000;
color:#ffffff;
width:640px;
height:480px;
border-color:grey;
}

h1{
color:white;
}

body{
background-color:black;
color:white;
height:100%;
}

div.form{
margin-left:auto;
margin-right:auto;
width:640px;
text-align:center;

}

p#logo{
background: url('/img/logo.png');
width:640px;
height:348px;
margin-left:auto;
margin-right:auto;
}

div#score{
text-align:center;
}

#music_box{
position:absolute;
margin-bottom: -50px;
}
